NET "clk" LOC = P94;
NET "btns[0]" LOC = P121;
NET "btns[1]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "btns[1]" LOC = P119;
NET "btns[2]" LOC = P117;
NET "btns[3]" LOC = P115;
NET "leds[0]" LOC = P120;
NET "leds[1]" LOC = P118;
NET "leds[2]" LOC = P116;
NET "leds[3]" LOC = P114;
NET "rst" LOC = P123;

NET "btns[3]" IOSTANDARD = LVTTL;
NET "btns[2]" IOSTANDARD = LVTTL;
NET "btns[1]" IOSTANDARD = LVTTL;
NET "btns[0]" IOSTANDARD = LVTTL;
NET "leds[3]" IOSTANDARD = LVTTL;
NET "leds[2]" IOSTANDARD = LVTTL;
NET "leds[1]" IOSTANDARD = LVTTL;
NET "leds[0]" IOSTANDARD = LVTTL;
NET "clk" IOSTANDARD = LVTTL;
NET "rst" IOSTANDARD = LVTTL;

CONFIG PROHIBIT = P144;
CONFIG PROHIBIT = P69;
CONFIG PROHIBIT = P60;
